header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #444;
    height: 156px;
    z-index: 99;
}
#haut {
	background-color:#1166ff;
	position:fixed;
        top: 0; /* vaut mieux fixer les valeurs par défaut pour ne pas avoir de mauvaises surprises */
        left: 0;
        right: 0;
}
body{
	background: #734bbe;
	
   }
   #container{
	width:400px;
	margin:0 auto;
	margin-top:10%;
   }
   /* Bordered form */
   form {
	width:100%;
	padding: 30px;
	border: 1px solid #f1f1f1;
	background: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   }
   #container h1{
	width: 38%;
	margin: 0 auto;
	padding-bottom: 10px;
   }
   
   /* Full-width inputs */
   input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
   }
   
   /* Set a style for all buttons */
   input[type=submit] {
	background-color: #734bbe;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
   }
   input[type=submit]:hover {
	background-color: white;
	color: #734bbe;
	border: 1px solid #734bbe;
   }

   p{
	text-align: right;
	text-decoration: none;

   }

   a{
	background-color: rgb(243, 253, 151);
   }